html, body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.stuff{
  width:100%;
  margin:auto;
}

#temp{
  padding-top: 15px;
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
div > [class*='col-']{
  text-align: center;
}